{% extends "base.html" %}
{% load static %}
<html lang="ko">
<head>
    <title>{% block title %}📖동화책 읽기📖</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/reader.css' %}">

   
</head>{% endblock %}
{% block content %}
<body>
    <div class="reader-container">
        <div class="reader-row">
            <div class="reader-title">
                <h1 style="color: white">📖장르를 골라보세요!</h1>
            </div>
            <div class="reader-content">
                <div class="reader-model font">
                   
                    <div class="button1-container">
                        <button class="button1">그림형제</button>
                        <button class="button1">이솝우화</button>
                        <button class="button1">전래동화</button>
                        <button class="button1">샤를페로</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script src="{% static 'js/reader.js' %}"></script>
</body>
{% endblock %}
</html>
