<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
<html lang="ko">
<head>
    <title>{% block title %}{{ title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/story_detail.css' %}">
</head>{% endblock %}
{% block content %}
<body>
    <div class="story-detail-container">
        <h1 class="story-title">{{ title }}</h1>
        <div class="book">
            <div class="left-page">
                <div class="text-container">
                    {% for sentence in story %}
                    <p>{{ sentence }}</p>
                    {% endfor %}
                </div>
            </div>
            <div class="spine">
                <div class="spiral"></div>
                <div class="spiral"></div>
                <div class="spiral"></div>
                <div class="spiral"></div>
                <div class="spiral"></div>
                <div class="spiral"></div>
                <div class="spiral"></div>
                <div class="spiral"></div>
                <div class="spiral"></div>
                <div class="spiral"></div>
            </div>
            <div class="right-page">
                <div class="text-container">
                    
                </div>
            </div>
        </div>
        <div class = "buttons">
            <button class="arrow-button" id="previous_button">
                ←
            </button>
            <button class="reader-button" id="picture_generate_button">
                그림 생성
            </button>
            <button class="reader-button" id="quiz_button" onclick="window.location.href='{% url 'reader:redirect_to_quiz' id %}?keyword={{ keyword }}'">
                퀴즈 시작
            </button>
            <button class="arrow-button" id="next_button">
                →
            </button>
        </div>
    </div>

    <script>
    </script>

</body>
</html>
{% endblock %}