<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
<html lang="ko">
<head>
    <title>{% block title %}{{ title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/story_detail.css' %}">
</head>{% endblock %}
{% block content %}
<body>
    <div class="story-detail-container">
        <h1 class="story-title">{{ title }}</h1>
        <div class="book">
            <div class="left-page">
                <div class="text-container"></div>
            </div>
            <div class="spine">
                <div class="spiral"></div>
                <div class="spiral"></div>
                <div class="spiral"></div>
                <div class="spiral"></div>
                <div class="spiral"></div>
                <div class="spiral"></div>
                <div class="spiral"></div>
                <div class="spiral"></div>
                <div class="spiral"></div>
                <div class="spiral"></div>
            </div>
            <div class="right-page">
                <div class="text-container"></div>
            </div>
        </div>
        <div class = "buttons">
            <button class="arrow-button" id="previous_button">←</button>
            <button class="reader-button" id="picture_generate_button">그림 생성</button>
            <button class="reader-button" id="quiz_button" onclick="window.location.href='{% url 'reader:redirect_to_quiz' id %}?keyword={{ keyword }}'">퀴즈 시작</button>
            <button class="arrow-button" id="next_button">→</button>
        </div>

        <div>
            <button onclick="playAudio('ko-KR-Standard-A')">Standard A</button>
            <button onclick="playAudio('ko-KR-Standard-B')">Standard B</button>
            <button onclick="playAudio('ko-KR-Standard-C')">Standard C</button>
            <button onclick="playAudio('ko-KR-Standard-D')">Standard D</button>
            <button onclick="playAudio('ko-KR-Wavenet-A')">Wavenet A</button>
            <button onclick="playAudio('ko-KR-Wavenet-B')">Wavenet B</button>
            <button onclick="playAudio('ko-KR-Wavenet-C')">Wavenet C</button>
            <button onclick="playAudio('ko-KR-Wavenet-D')">Wavenet D</button>
        </div>
    
        <audio id="ttsAudio" controls>
            <source id="audioSource" src="" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>
        
        <a href="?tts=true" download="audio.mp3" id="downloadLink">오디오 다운받기!</a>

    </div>
    <script>
        let currentPage = 0;
        const sentences = {{ story|safe }};
        const totalPages = sentences.length;
    
        function showPage(page) {
            const leftPage = document.querySelector(".left-page .text-container");
            const rightPage = document.querySelector(".right-page .text-container");
    
            leftPage.innerHTML = "";
            rightPage.innerHTML = "";
    
            if (page % 2 === 0) {
                leftPage.innerHTML = `<p>${sentences[page]}</p>`;
                if (page + 1 < totalPages) {
                    rightPage.innerHTML = `<p>${sentences[page + 1]}</p>`;
                }
            } else {
                rightPage.innerHTML = `<p>${sentences[page]}</p>`;
                if (page + 1 < totalPages) {
                    leftPage.innerHTML = `<p>${sentences[page + 1]}</p>`;
                }
            }
        }
    
        function turnPage(direction) {
            const book = document.querySelector('.book');
        
            // 첫번째 페이지에서 앞으로 넘기려고 하는지 체크
            if (direction === -2 && currentPage === 0) {
                return; 
            }
        
            // 마지막 페이지에서 뒤로 넘기려고 하는지 체크 
            if (direction === 2 && currentPage === totalPages - 1) {
                return;
            }
        
            if (direction === 2) {
                book.classList.add('turn-right');
                book.classList.remove('turn-left');
            } else if (direction === -2) {
                book.classList.add('turn-left');
                book.classList.remove('turn-right');
            }
        
            setTimeout(() => {
                currentPage += direction;
                if (currentPage < 0) currentPage = 0;
                if (currentPage >= totalPages) currentPage = totalPages - 1;
                showPage(currentPage);
                book.classList.remove('turn-right');
                book.classList.remove('turn-left');
            }, 500);
        }
    
        document.getElementById("previous_button").addEventListener("click", () => turnPage(-2));
        document.getElementById("next_button").addEventListener("click", () => turnPage(2));
    
        // 첫번째 페이지
        showPage(currentPage);

        function playAudio(voice) {
            const audioElement = document.getElementById('ttsAudio');
            const sourceElement = document.getElementById('audioSource');
            const downloadLink = document.getElementById('downloadLink');
            
            // 오디오 소스 URL 업데이트
            const ttsUrl = `?tts=true&voice=${voice}`;
            sourceElement.src = ttsUrl;
            audioElement.load();
            audioElement.play();
            
            // 다운로드 링크 업데이트
            downloadLink.href = ttsUrl;
        }

    </script>
</body>
</html>
{% endblock %}