<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/mine.css' %}">
    <script src="//code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'js/mine.js' %}"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="difficultyLevelSelectionWindow">
        <button class="difficultyLevelSelectionButton easyButton">easy</button>   
        <button class="difficultyLevelSelectionButton normalButton">normal</button>
        <button class="difficultyLevelSelectionButton hardButton">hard</button>
    </div>
    <div class="window">
        <div class="gameWindow">
            <nav class="navbar">
                <button class="newGame">
                    newGame
                </button>
                <div class="timer">
                    
                </div>
            </nav>
            <div class="container">
                <div class="cells">
 
                </div>
            </div>
        </div>
    </div>
</body>
</html>
