<!DOCTYPE html>
<html lang="ko">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>동화 만들기</title>
    <link rel="stylesheet" href="{% static 'nlg/style.css' %}">
</head>
<body>
    <div class="story-container">
        <div class="book">
            <div class="page">
                <form action="create_story" method="post" enctype="application/x-www-form-urlencoded">
                    {% csrf_token %}
                    <div id="file-module-1">
                        <label for="initial_story">이야기의 시작을 입력하세요📒</label>
                        <textarea id="initial_story" name="initial_story" placeholder="여기에 이야기를 시작해보세요..." required></textarea>
                    </div>
                    <div>
                        <button id="story-button" type="submit">동화 만들기</button>
                    </div>
                    <div>
                        <button type="button" onclick="startRecognition()">🗣️</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        function startRecognition() {
            if ('SpeechRecognition' in window || 'webkitSpeechRecognition' in window) {
                var SpeechRecognition = window.SpeechRecognition || window.webkitSpeechRecognition;
                var recognition = new SpeechRecognition();
                recognition.lang = 'ko-KR';
                recognition.start();

                recognition.onresult = function(event) {
                    var transcript = event.results[0][0].transcript;
                    document.getElementById('initial_story').value += transcript;
                };

                recognition.onerror = function(event) {
                    console.error('Recognition error:', event.error);
                };

                recognition.onend = function() {
                    console.log('Recognition ended');
                };
            } else {
                alert('이 브라우저에서는 음성 인식이 지원되지 않습니다.');
            }
        }
    </script>
</body>
</html>