<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
{% load socialaccount %}
<html lang="ko">
<head>
	<title>{% block title %}🔐비밀번호 재설정</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
</head>
{% endblock %}

{% block content %}
<body style="background-color: #666666;">
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form method="post" class="login100-form validate-form">
					{% csrf_token %}
					<span class="login100-form-title p-b-43">
						비밀번호 재설정
					</span>

					<div class="wrap-input100 validate-input">
						<input class="input100" type="password" name="new_password1" id="id_new_password1" autocomplete="new-password" maxlength="150" required>
						<span class="focus-input100"></span>
						<span class="label-input100">새 비밀번호</span>
					</div>

					<div class="wrap-input100 validate-input">
						<input class="input100" type="password" name="new_password2" id="id_new_password2" autocomplete="new-password"  maxlength="150" required>
						<span class="focus-input100"></span>
						<span class="label-input100">새 비밀번호 확인</span>
					</div>

                    {% include 'registration/form_errors.html' %} <!-- 오류 검증 추가 -->

					<div class="container-login100-form-btn">
						<button type="summit" class="login100-form-btn">
							비밀번호 재설정
						</button>
					</div>

                </form>
                <div class="login100-more">
					<video width="100%" autoplay loop>
						<source src="{% static 'images/영상2.mp4' %}" type="video/mp4">
					  </video>
				</div>
            </div>
        </div>
    </div>
</body>
{% endblock %}
</html>