<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
{% load socialaccount %}
<html lang="ko">
<head>
	<title>{% block title %}🔐비밀번호 재설정</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
</head>
{% endblock %}

{% block content %}
<body style="background-color: #666666;">
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form method="post" class="login100-form validate-form">
					<p>비밀번호가 성공적으로 재설정되었습니다. 이제 로그인할 수 있습니다.</p>
				</form>
			</div>
		</div>
	</div>
</body>
{% endblock %}
</html>

