<!DOCTYPE html>
{% extends "base.html" %}
<html lang="ko">

<head>
    <title>{% block title %}👤프로필 선택👤</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% load static %}
   <link rel="stylesheet" type="text/css" href="{% static 'css/select_account.css' %}">
</head>
{% endblock %}

{% block content %}
<body>
    <div class="selector-container">
        <div class="main-container">
            <section class="content-area">
                <div id="main" role="main">
                    {% if profiles %}
                    <h1><img src="{% static 'images/선택로고.png' %}"></h1>
                    <div class="account-selection">
                        {% for profile in profiles %}
                        <div class="account">
                            <a class="profile" href="{% url 'choose_profile' profile.id %}">
                                <img class="profile-img" src="{{ profile.avatar.url }}" alt="Profile Image" width="50" height="50">
                                <p class="profile-name">{{ profile.name }}</p>
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                    <a class="select-account-h3" href="{% url 'profile' %}"><img src="{% static 'images/프로필관리.png' %}"></a>
                    {% else %}
                    <h1><img src="{% static 'images/프로필없음.png' %}"></h1>
                    <div style="height: 50px;"></div> <!-- 원하는 여백 크기 -->
                    <a class="select-account-h3" href="{% url 'profile' %}"><img src="{% static 'images/프로필관리.png' %}"></a>
                    {% endif %}
            </section>
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            setTimeout(function() {
                document.querySelector('.select-account-h1').classList.add('fade-in');
            }, 500); // 0.5초 후
    
            setTimeout(function() {
                document.querySelector('.account-selection').classList.add('fade-in');
            }, 1000); // 1초 후
    
            setTimeout(function() {
                document.querySelector('.select-account-h3').classList.add('fade-in');
            }, 1500); // 1.5초 후
        });
        </script>
</body>

{% endblock %}
</html>